.navbar {
    background-color: var(--yellow-theme-nav-background-color);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  .navbar__container {
    display: flex;
    align-items: center;
    width: 100%;
    height: inherit;
    padding: 0 20px;
    justify-content: space-between;
  }
  
  /* Logo */
  .navbar__container__logo {
    color: var(--yellow-theme-main-color);
    cursor: pointer;
  }
  
  /* Menu */
  .navbar__container__menu {
    display: flex;
    list-style: none;
    text-align: center;
  }
  
  .navbar__container__menu__item {
    line-height: 40px;
    margin-right: 1.5rem;
    font-size: 1.6rem;
  
    &::after {
      content: "";
      display: block;
      height: 3px;
      width: 0;
      background: transparent;
      transition: all 0.5s ease;
    }
  
    &:hover::after {
      width: 100%;
      background: var(--yellow-theme-main-color);
    }
  }
  
  .navbar__container__menu__item__links {
    color: var(--yellow-theme-main-color);
    text-decoration: none;
    padding: 0.5rem;
  }
  
  /* Nav Icon */
  .nav-icon {
    display: none;
    cursor: pointer;
    color: var(--yellow-theme-main-color);
    padding-right: 20px;
  }
  
  /* Mobile View */
  @media only screen and (max-width: 768px) {
    .nav-icon {
      display: block;
      z-index: 1100;
    }
  
    .navbar__container__menu {
      flex-direction: column;
      align-items: center;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background: #181818;
      transform: translateX(-100%);
      transition: transform 0.3s ease-in-out;
      opacity: 0;
      z-index: 1000;
    }
  
    .navbar__container__menu.active {
      transform: translateX(0);
      opacity: 1;
    }
  
    .navbar__container__menu__item {
      margin: 20px 0;
      width: 100%;
      text-align: center;
    }
  }
  